/* Start Body */
body {
    background-color: rgb(231, 203, 133);
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Pilih Text*/
.judul {
    font-family: 'Montserrat', sans-serif;
}

.sub-judul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* End Text*/

/* Start Debug */
.bg-yellow {
    background-color: rgb(235, 223, 60);
}
.bg-aliceblue {
    background-color: rgb(180, 198, 214);
}
.bg-abuh{
    background-color: rgb(249, 250, 217)
}
.bg-coklat {
    background-color: rgba(173, 135, 86, 0.91)
}
/* End Debug */  

/* Start Container */
.container {
margin: 10px auto;
overflow: auto;
width: 90%;
}
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
    background-color: aliceblue;  
}
/* End Container */

/* Start Logo*/
 .logo {
     text-align: center;    
 }
/* End Logo*/

/* Start Menu Primer*/
.menu-primer ul {
    background-color: rgb(249, 250, 217);
    border-radius: 4px;
    text-align: center;
    box-shadow:
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
}
.menu-primer li {
    border-right: 1px solid rgba(231, 142, 26, 0.87);
    display: inline-block;
    margin: 0 -4px;
} 

.menu-primer a {
    color: #d39117;
    font-size: 14px;
    text-decoration: none; 
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 25px; 
    text-transform: uppercase;
    text-align: center;
}

.menu-primer a:hover {
    background-color: bisque;
    color: #000000;
    text-decoration: none; 
}

.menu-primer .active {
    background-color:  rgba(231, 142, 26, 0.87);
    color: #ffffff;
    text-decoration: none;
}

/* End Menu Primer*/

/* Start Anchor/ Hyperlink */
a:link,
a:visited {
    color: #e6a96d;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}

/* End Anchor/ Hyperlink */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1{
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}

.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}

/* End Jumbotron */

/* Start Main */
.main-home-one {
float: left;
width: 49.5%;
}

.main-home-two{
float: right;
width: 49.5%;   
}
.main-home-one .box-isi,
.main-home-two .box-isi {
  height: 140px;  
}

.main-one {
    float: left;
    overflow: auto;
    width: 70%;
}

/* End Main */

/* Start Sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 30%;
}

/* End  Sidebar */


/* Start Box */
.box-heading{
    background-color: #d39117;
    border: 1px solid #eaecef;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
}

.box-heading2 {
  background-color: #fdfcfa;
    border: 1px solid #eaecef;
    padding: 0px 10px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0px
}
 .box-isi{
    background-color: #ffffff; 
    border: 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    
 }
 
 .box-isi2 {
  background-color: #ffffff; 
  border: 1px solid #eaecef;
  border-top: 0;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
 }

/* End Box */

/* Start Testimonial */
.testimonial {
    border-left: 4px solid #dfe25e;
    margin-left: 38px;
    padding-left: 20px;
}

/* End Testimonial */


/* Start Menu Sekunder*/
.menu-sekunder {
    background-color: #e1ee69;
    border-bottom: 1px solid #eaecef;
    border-top: 1 px solid #ffffff;
    overflow: auto;
    padding: 10px 8;
    text-align: center;
}

.menu-sekunder h4 {
    font-size: 14px;
    margin: 8 auto;
    text-transform: uppercase;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}

.menu-sekunder-two {
    width: 24%;
}

.menu-sekunder-two li {
    list-style: none;
}

.menu-sekunder-three {
    width: 33%;
}

.menu-sekunder-three li {
    list-style: none;
}

 .menu-sekunder li img {
     vertical-align: middle;
 }
  
/* End Menu Sekunder*/

/* Start Copyright*/
.copyright p {
    font-size: 15px;
}
/* End Copyright*/

/* Start Wow Factor*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);
.snip1573 {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 31%;
  min-width: 31%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.snip1573:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.snip1573 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.snip1573 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* End Wow Factor*/

/* Start wow-in*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1563 {
  background-color: #fff;
  color: #ffffff;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px 5px;
  max-width: 31%;
  min-width: 31%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1563 *,
.snip1563 *:before,
.snip1563 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1563 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1563:before,
.snip1563:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #e6a544;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1563:before {
  -webkit-transform: skew(30deg) translateX(80%);
  transform: skew(30deg) translateX(80%);
}

.snip1563:after {
  -webkit-transform: skew(-30deg) translateX(70%);
  transform: skew(-30deg) translateX(70%);
}

.snip1563 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 20px 20px 20px 40%;
}

.snip1563 figcaption:before,
.snip1563 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1563 figcaption:before {
  -webkit-transform: skew(30deg) translateX(100%);
  transform: skew(30deg) translateX(100%);
}

.snip1563 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(90%);
  transform: skew(-30deg) translateX(90%);
}

.snip1563 h3,
.snip1563 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1563 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1563 p {
  font-size: 0.9em;
}

.snip1563 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1563:hover h3,
.snip1563.hover h3,
.snip1563:hover p,
.snip1563.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
}

.snip1563:hover:before,
.snip1563.hover:before {
  -webkit-transform: skew(30deg) translateX(30%);
  transform: skew(30deg) translateX(30%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1563:hover:after,
.snip1563.hover:after {
  -webkit-transform: skew(-30deg) translateX(20%);
  transform: skew(-30deg) translateX(20%);
}

.snip1563:hover figcaption:before,
.snip1563.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(50%);
  transform: skew(30deg) translateX(50%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1563:hover figcaption:after,
.snip1563.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(40%);
  transform: skew(-30deg) translateX(40%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.body {
    text-align: center;
}
/* End wow-in*/

